@import "base/typography";
@import "base/reset";
@import "components/button";
@import "components/heart";
@import "layout/header";
@import "layout/footer";
@import "pages/homepage/section_location";
@import "pages/homepage/section_exploration";
@import "pages/homepage/section_fonctionnement";
@import "pages/homepage/section_restaurants";
@import "pages/menu/_section__principale";
@import "utils/mixin";
@import "utils/variables";

/* Général */

body{
    @include margin;
    @include typography;
}

a{
    @include links;  
}

h1, h2, h3, p{
    margin: 0;
}

/* Animation Coeur */

.fa-heart__homepage{
    @include heart;
    @include heart__homepage;
}

.fa-heart__full__homepage{
    @include heart;
    @include heart__homepage;
    @include heart__full;
}

.fa-heart__full__homepage:hover{
    opacity: 1;
}    

.fa-heart__menu{
    @include heart;
}

.fa-heart__full{
    @include heart;
    @include heart__full;
}

.fa-heart__full:hover{
    opacity: 1;
}    

/* Page d'acceuil */

/* Header */

.header__homepage{
    @include grid;
    @include header;
    @include homepage__header;
}

/* Section Location */

.location{
    @include flex__center;
    @include location;
    
    &__search input[type=text]{
        @include search__location
    }
}

/* Section Exploration */

.exploration{
    @include grid;
    @include exploration;

    &__text{
        @include grid;
        @include text__exploration;
    }    

    &__button{
        @include button;
        @include button__exploration;
    }

    .exploration__button:hover{
        opacity: 0.8;
        color: $background-color-first;
    }
}

/* Section Fonctionnement*/

.fonctionnement{
    @include grid;
    @include fonctionnement;

    &__grid{
        @include grid;
        @include grid__fonctionnement;

        &__img{ 
            @include img__grid__fonctionnement;

            &__number{
                @include number__grid__fonctionnement;
            }
        }

        &__container{
            @include grid;
            @include container__grid__fonctionnement;   
        }       

        &__icon{
            @include grid;
            @include icon__grid__fonctionnement;
        }
       
    }
}
 

/* Section Restaurants */

.restaurants{
    @include grid;
    @include restaurants;       
    
    &__grid{
        @include grid__restaurants;
        @include grid;

        &__new{
            @include new__grid__restaurants;
        }

        &__links{
            @include links__grid__restaurants
        }

        &__img{
            @include img;
            @include img__grid__restaurants;
        }      
        
        &__container {
            @include grid;
            @include container__grid__restaurants;          
        }  
        
        &__text{
            @include grid;
            @include text___grid__restaurants;
        }
    }
}

/* Section Footer */

.footer{
    @include grid;
    @include footer;

    &__grid{
        @include grid;
        @include grid__footer;     
    }
}

/* Page 1 */

/* Header */

.header{
    @include grid;
    @include header;
    @include menu__header;   

    &__img{
        @include img__header;
    }
}

/* Main */

.main__img{
    @include img;
    @include img__main;
}

/* Section Principale */

.section__principale{
    @include principale__section;

    &__header{
        @include grid;
        @include header__section__principale;           
    }
    
    &__grid{
        @include grid;
        @include grid__section__principale;
    }

    &__title{
        @include title__section__principale;
    }

    &__cards{
        @include grid;
        @include cards__section__principale;
    }

    &__menu{
        @include grid;
        @include menu__section__principale;
    }
    
    .price{
        @include grid;
        @include price;
    }
}

.section__principale__button{
    @include grid;
    @include button;
    @include button__section__principale;
}

@media (min-width: 1024px){     

    .header__homepage{
        padding: 30px 0px 32px 0px;
    }
}

@media (min-width: 1024px){     

    .exploration{
        gap: 18px;

        padding-top: 30px;
    }

    .exploration__button{
        margin-bottom: 30px;
    }
}

/* Responsive Section Fonctionnement */

@media (min-width: 1024px){   
    
    .fonctionnement{
        margin: 50px 0px 50px 0px;
    }

    .fonctionnement__grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Responsive Section Restaurants */

@media (min-width: 1024px){     

    .restaurants{
        padding: 30px 0px 30px 0px;
    }

    .restaurants__grid{
        grid-template-columns: 1fr 1fr;

        grid-gap: 50px 100px;
    }
}

/* Responsive Section Footer */

@media (min-width: 1024px){    
    
    .footer__img__responsive{
        @include grid;
        grid-row-start: 1;
        grid-column-end: 3;
        
    }

    .footer__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
}

