/***** Animation Menu *****/
.exploration__btn {
  display: grid;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
}

.menu__btn {
  display: grid;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 50px;
}

/***** Coeur Homepage *****/
.fa-heart__restaurants {
  position: absolute;
  right: 24px;
  font-size: 25px;
}

/***** Coeur Menu *****/
.fa-heart__menu {
  display: grid;
  margin: 0 auto;
  font-size: 25px;
}

/***** Animation Coeur *****/
.fa-heart__restaurants:hover, .fa-heart__menu:hover {
  font-weight: 1000;
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 200ms ease-in-out;
  -webkit-text-fill-color: transparent;
}

/***** Loader *****/
.loader__container {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: white;
}

.loader__text__hidden, .loader__text__visible {
  font-size: 50px;
  font-weight: 900;
}

.loader {
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader__text__hidden {
  display: grid;
  grid-row-start: 1;
  grid-column-end: 2;
  -webkit-background-clip: text;
          background-clip: text;
  color: rgba(0, 0, 0, 0.5);
}

.loader__text__visible {
  display: grid;
  grid-row-start: 1;
  grid-column-end: 2;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
  color: transparent;
}

/***** Animation Loader *****/
.loader__container {
  animation-name: loader;
  animation-duration: 0.1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  to {
    visibility: hidden;
  }
}
.loader__text__visible {
  animation-name: loader_text_visible;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes loader_text_visible {
  0% {
    width: 0;
    grid-row-start: 1;
    grid-column-end: 2;
  }
  100% {
    width: 100%;
    grid-row-start: 1;
    grid-column-end: 2;
  }
}
/***** Section Location *****/
.section__location {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 16px 109px;
  grid-gap: 17px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}

.location__search input[type=text] {
  height: 19px;
  border-style: none;
  background-color: #EAEAEA;
}

.fa-location-dot {
  color: #353535;
}

/***** Section Exploration *****/
.section__exploration {
  display: grid;
  grid-gap: 27px;
  padding: 39px 20px 57px 20px;
  align-items: center;
  background-color: #F6F6F6;
}

.exploration__text {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.exploration__button:hover, .menu__button:hover {
  opacity: 0.8;
  color: white;
}

/***** Section Fonctionnement *****/
.section__fonctionnement {
  display: grid;
  grid-gap: 20px;
  margin: 48px 20px 68px 20px;
}

.fonctionnement__container {
  display: grid;
  grid-gap: 25px;
}

.fonctionnement__img {
  position: relative;
}

.fonctionnement__img__number {
  position: absolute;
  top: 24px;
}

.fonctionnement__cards {
  display: grid;
  grid-template-rows: 73px;
  grid-template-columns: 70px 1fr;
  height: 73px;
  margin-left: 12px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
}

.fonctionnement__icons {
  display: grid;
  justify-content: center;
}

/***** Section Restaurants *****/
.section__restaurants {
  display: grid;
  grid-gap: 20px;
  padding: 54px 18px 66px 18px;
  background-color: #F6F6F6;
}

.restaurants__container {
  display: grid;
  grid-gap: 18px;
}

.restaurants__links__menu {
  color: black;
}

.restaurants__cards {
  display: grid;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.restaurants__new__menu {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 10px 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  color: #008766;
}

.restaurants__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px 15px 0 0;
}

.restaurants__text {
  display: grid;
  grid-gap: 5px;
  margin: 10px 60px 12px 13px;
}

/***** Main *****/
.restaurant__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/***** Section Menu *****/
.section__menu {
  position: relative;
  bottom: 75px;
  max-width: 768px;
  padding: 0 13px 40px 13px;
  margin: 0 auto -75px auto;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
}

.menu__title {
  grid-template-columns: 1fr;
  grid-gap: 0;
}

.menu__container {
  display: grid;
  grid-gap: 40px;
}

.menu__subtitle {
  width: 40px;
  height: 40px;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #99E2D0;
  margin-bottom: 12px;
}

.menu__cards {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 40px;
}

.menu__cards__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 80%;
  grid-gap: 5px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  background-color: white;
  overflow: hidden;
}

.menu__selected {
  position: absolute;
  right: 0;
  height: 77px;
  opacity: 0;
}

.menu__text__title {
  display: grid;
}

.menu__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__texts {
  display: grid;
  grid-template-columns: 80% 1fr;
}

.menu__price {
  display: grid;
  position: relative;
  justify-content: end;
}

.menu__cards__container:hover .menu__text {
  animation-name: menu__text;
  animation-duration: 0.5s;
}
.menu__cards__container:hover .menu__selected {
  animation-name: menu__selected;
  animation-duration: 0.5s;
}
.menu__cards__container:hover .menu__price {
  animation-name: menu__price;
  animation-duration: 0.5s;
}
@keyframes menu__text {
  0% {
    width: 60%;
  }
  100% {
    width: 60%;
  }
}
@keyframes menu__selected {
  0% {
    opacity: 1;
    right: -62.62px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes menu__price {
  0% {
    right: 15px;
  }
  100% {
    right: 62.62px;
  }
}

/***** Header Homepage *****/
.header__homepage {
  display: grid;
  grid-template-rows: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  align-items: center;
}

.header__homepage__logo {
  margin: 0 auto;
}

/***** Header Menu *****/
.header__menu {
  display: grid;
  grid-template-rows: 63px;
  grid-template-columns: 89px 1fr 89px;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__arrow {
  padding-left: 17px;
}

.header__menu__logo {
  margin: 0 auto;
}

/***** Footer *****/
.footer {
  display: grid;
  grid-gap: 22px;
  padding: 22px 25px;
  background-color: #353535;
}

.footer__container {
  display: grid;
  grid-template-rows: 19px;
  grid-gap: 7px;
  color: white;
}

/***** Responsive Elements *****/
@media (min-width: 768px) {
  .loader__text__hidden, .loader__text__visible {
    font-size: 100px;
  }
}
/*** Section Menu ***/
@media (min-width: 370px) {
  .menu__title {
    display: grid;
    grid-template-columns: 263px 25px;
    grid-gap: 20px;
    justify-content: center;
    padding: 32px 17px 40px 17px;
  }
}
/***** Responsive Tablet *****/
@media (min-width: 768px) {
  /*** Section Menu ***/
  .menu__container {
    margin: 0 auto;
  }
  /*** Section Footer ***/
  .footer {
    grid-gap: 16px;
    padding: 30px 25px;
  }
  .footer__container {
    grid-template-columns: 191px 191px 130px 130px;
    align-items: end;
  }
  .footer__text {
    grid-template-columns: 13px 178px;
    grid-gap: 11px;
    align-items: center;
  }
}
/***** Responsive Desktop *****/
@media (min-width: 1024px) {
  /**** Responsive Homepage ****/
  /*** Header ***/
  .header__homepage {
    grid-template-rows: 96px;
  }
  /*** Section Exploration ***/
  .section__exploration {
    grid-gap: 18px;
    padding: 30px 0;
  }
  .exploration__text {
    grid-gap: 18px;
  }
  /*** Section Fonctionnement ***/
  .section__fonctionnement {
    margin: 50px auto;
    padding: 0 20px;
  }
  .fonctionnement__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  /*** Section Restaurants ***/
  .section__restaurants {
    grid-gap: 18px;
    padding: 30px 20px;
    margin: 0 auto;
  }
  .restaurants__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 100px;
  }
  /*** Section Footer ***/
  .footer__logo {
    display: grid;
    grid-row-start: 1;
    grid-column-end: 3;
    align-items: end;
    justify-content: start;
  }
  .footer__container {
    grid-template-rows: 54px;
    grid-template-columns: 191px 191px 130px 130px;
    grid-gap: 7px;
    justify-content: end;
  }
}
body, h1, h2, h3, p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */