@use '../abstracts' as *;

/***** Footer *****/

.footer{
    display: grid;
    grid-gap: 22px;
    padding: 22px 25px;
    background-color: $background-color-footer;
}
    
.footer__container{
    display: grid;
    grid-template-rows: 19px;
    grid-gap: 7px; 
    color: $background-color-first;
}