@mixin header{
    grid-template-rows: 63px;

    box-shadow: $box-shadow1;  
    


}

@mixin homepage__header{
    grid-template-columns: 1fr ;
}

@mixin logo__header{
    margin: $margin-auto;   
}

@mixin logo__header__menu{
    margin: $margin-auto;   
    
    padding-right: 34px;
}

@mixin menu__header{
    grid-template-columns: 89px 1fr;    
}

@mixin img__header{
    padding-left: 17px;

    @include grid1($grid: grid, $grid-template-rows: 1px, $grid-template-columns: 1px, $grid-gap: 1px);

    @include position($position:absolute);
}





