@mixin header{
    grid-auto-rows: 63px;

    box-shadow: $box-shadow1;  
    
    align-items: $align_center;
}

@mixin homepage__header{
    grid-template-columns: 1fr ;

    padding: 0px 89px 0px 89px;
}

@mixin menu__header{
    grid-template-columns: 89px 1fr;    
}

@mixin img__header{
    padding-left: 17px;
}



