@mixin fonctionnement{
    margin: 48px 20px 68px 20px;

    grid-gap: 20px;
}

@mixin grid__fonctionnement{
    grid-gap: 25px;
}

@mixin img__grid__fonctionnement{
    position: $position-relative;
}

@mixin number__grid__fonctionnement{
    position: $position-absolute;

    top: 24px;    
}

@mixin container__grid__fonctionnement{
    grid-template-columns: 70px 1fr;

    grid-template-rows: 73px;

    align-items: $align_center;

    border-radius: 20px;

    box-shadow: $box-shadow2;

    margin-left: 12px;

    background-color: $background-color-secondary;
}

@mixin icon__grid__fonctionnement{
    justify-content: $justify-center;
}
