@mixin fonctionnement{
    padding: 48px 20px 68px 20px;
}

@mixin grid__fonctionnement{
    grid-gap: 25px;
}

@mixin img__grid__fonctionnement{
    position: $position-absolute;

    padding-top: 27px;  
}

@mixin number__img__grid__fonctionnement{
    position: $position-absolute;

    padding: 15px 0px 0px 8px;

    color: $background-color-first;
}

@mixin container__grid__fonctionnement{
    height: 73px;

    align-items: $align_center;

    margin-left: 12px;
    
    text-indent: 73px; 

    border-radius: 20px;

    box-shadow: $box-shadow2;
}

@mixin img__container__grid__fonctionnement{
    position: $position-absolute;

    padding-left: 33px;
}