@use '../abstracts/mixin';

/***** Coeur Homepage *****/

.fa-heart__restaurants{
    position: absolute;
    right: 24px;
    font-size: 25px;
}

/***** Coeur Menu *****/

.fa-heart__menu{
    display: grid;
    margin: 0 auto;
    font-size: 25px;
}

/***** Animation Heart *****/ 

.fa-heart__restaurants:hover, .fa-heart__menu:hover{        
    @include mixin.animation_heart($animation_heart: true);
}


