@use '../abstracts' as *;

/***** Loader *****/

.loader__container{
    position: fixed;
    inset: 0;
    z-index: 1;             
    background-color: $background-color-first;     
}

.loader__text__hidden, .loader__text__visible{
    font-size: 50px; 
    font-weight: 900;   
}

.loader{
    display: grid;
    @include size($height: 100%);
    align-items: center;
    justify-content: center;
}

.loader__text__hidden{
    @include loader_text;
    color: rgba(0, 0, 0, 0.5);        
}

.loader__text__visible{
    @include loader_text;               
    background-image: linear-gradient(175deg, #9356DC, #FF79DA);
    color: transparent; 
}

/***** Animation Loader *****/

// Loader

.loader__container{
    animation-name: loader;
    animation-duration: 0.1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;     
}

@keyframes loader{
    to{
        visibility: hidden;
    }    
}

// Loader Text Visible

.loader__text__visible{
    animation-name: loader_text_visible;
    animation-duration: 5s;
    animation-timing-function: linear;   
}

@keyframes loader_text_visible{

    0%{
        width: 0;
        grid-row-start: 1;
        grid-column-end: 2;          
    }
        
    100%{
        width: 100%;
        grid-row-start: 1;
        grid-column-end: 2; 
    }
    
}
