@use '../abstracts/variables';
@use '../abstracts/mixin';

/***** Loader *****/

.loader__container{
    position: fixed;
    inset: 0;
    z-index: 1;             
    background-color: variables.$background-color-first;
    @include mixin.animation_loader;
}

.loader__text__hidden, .loader__text__visible{
    font-size: 50px; 
    font-weight: 900; 
    @include mixin.breakpoint(medium){
        font-size: 100px;
    }  
}

.loader{
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loader__text{
    display: grid;
    grid-row-start: 1;
    grid-column-end: 2;
    background-clip: text;
}

.loader__text__hidden{
    color: rgba(0, 0, 0, 0.5);        
}

.loader__text__visible{              
    background-image: variables.$background-gradient;
    color: transparent;
    @include mixin.animation_loader_text;
}