@use '../pages' as *;
@use '../layout' as *;

/***** Responsive Elements *****/

@media (min-width: 768px){

    .loader__text__hidden, .loader__text__visible{
        font-size: 100px; 
    }   
}

/*** Section Menu ***/

@media (min-width: 370px){
    .menu__title{
        display: grid;
        grid-template-columns: 263px 25px;
        grid-gap: 20px;   
        justify-content: center;
        padding: 32px 17px 40px 17px;
    }  
} 

/***** Responsive Tablet *****/

@media (min-width: 768px){

    /*** Section Menu ***/

    .menu__container{
        margin: 0 auto;
    }
    
    /*** Section Footer ***/

    .footer{
        grid-gap: 16px;
        padding: 30px 25px;
    }     

    .footer__container{
        grid-template-columns: 191px 191px 130px 130px;
        align-items: end;
    }    

    .footer__text{
        grid-template-columns: 13px 178px; 
        grid-gap: 11px;
        align-items: center;              
    }
}

/***** Responsive Desktop *****/

@media (min-width: 1024px){

    /**** Responsive Homepage ****/

    /*** Header ***/

    .header__homepage{
        grid-template-rows: 96px;
    }        

    /*** Section Exploration ***/
    
    .section__exploration{
        grid-gap: 18px;
        padding: 30px 0;
    }
    
    .exploration__text{
        grid-gap: 18px;
    }   
            
    /*** Section Fonctionnement ***/
     
    .section__fonctionnement{
        margin: 50px auto;
        padding: 0 20px;
    }
    
    .fonctionnement__container{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 25px;
    }
    
    /*** Section Restaurants ***/ 

    .section__restaurants{        
        grid-gap: 18px;
        padding: 30px 20px;
        margin: 0 auto;
    }
    
    .restaurants__container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 100px;
    }        

    /*** Section Footer ***/
   
    .footer__logo{
        display: grid;
        grid-row-start: 1;
        grid-column-end: 3;  
        align-items: end;
        justify-content: start;
    }
    
    .footer__container{
        grid-template-rows: 54px;
        grid-template-columns: 191px 191px 130px 130px;
        grid-gap: 7px; 
        justify-content: end;
    }
}