@mixin img__main{
    height: 275px;
}

@mixin principale__section{
    border-radius: 40px 40px 0px 0px;

    padding: 0px 13px 0px 13px;

    background-color: $background-color-secondary;
}

@mixin space__section__principale{
    padding-bottom: 40px;
}

@mixin header__section__principale{
    align-items: $align_center;

    padding: 32px 0px 40px 0px;     
}

@mixin title__section__principale{
    border-bottom: 3px solid $color-menu-title;

    width: 40px;
}

@mixin cards__section__principale{
    gap: 12px;
}

@mixin menu__section__principale{
    flex-direction: $flex-column;

    border-radius: 15px;
    
    box-shadow: $box-shadow2;

    background-color: $background-color-first;
}

@mixin price{
    grid-template-columns: 1fr 34px;

    padding: 0px 15px 15px 15px;
}