@use '../abstracts/variables';
@use '../abstracts/mixin';

/***** Section Exploration *****/

.section__exploration{
    display: grid;
    grid-gap: 27px;
    padding: 39px 20px 57px 20px;
    align-items: center;
    background-color: variables.$background-color-secondary;
    @include mixin.breakpoint(large){
        grid-gap: 18px;
        padding: 30px 0;
    }
}

.exploration__text{
    display: grid;
    grid-gap: 5px;
    text-align: center;
    @include mixin.breakpoint(large){
        grid-gap: 18px;
    }
}