/***** Section Location *****/

.section__location{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 16px 109px; 
    grid-gap: 17px;
    justify-content: center;
    align-items: center;
    background-color: $background-color-location;
}
    
.location__search input[type=text]{
    height: 19px;
    border-style: none;
    background-color: $background-color-location;
}    

.fa-location-dot{
    color: $background-color-footer;    
}