/***** Section Fonctionnement *****/

.section__fonctionnement{
    display: grid;
    grid-gap: 20px;
    margin: 48px 20px 68px 20px;
    @include breakpoint(large){
        margin: 50px auto;
        padding: 0 20px;
    }
}

.fonctionnement__container{
    display: grid;
    grid-gap: 25px;
    @include breakpoint(large){
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 25px;
    }
}

.fonctionnement__img{ 
    position: relative;
}

.fonctionnement__img__number{
    position: absolute;
    top: 24px;
}
        
.fonctionnement__cards{
    display: grid;
    grid-template-rows: 73px; 
    grid-template-columns: 70px 1fr;
    height: 73px;
    margin-left: 12px;
    align-items: center;
    border-radius: 20px; 
    box-shadow: $box-shadow2;
    background-color: $background-color-secondary;
}       

.fonctionnement__icons{
    display: grid;
    justify-content: center;
}    