@use '../abstracts' as *;

/***** Section Exploration *****/

.section__exploration{
    display: grid;
    grid-gap: 27px;
    padding: 39px 20px 57px 20px;
    align-items: center;
    background-color: $background-color-secondary;
}

.exploration__text{
    display: grid;
    grid-gap: 5px;
    text-align: center;
}

// Hover

.exploration__button:hover, .menu__button:hover{
    opacity: 0.8;
    color: $background-color-first;
}