/***** Main Menu *****/

.restaurant__img{
    width: 100%;
    height: 275px;    
    object-fit: cover;
    object-position: center;
}

/***** Section Menu *****/

.section__menu{
    position: relative;
    bottom: 75px;
    max-width: 768px;
    padding: 0 13px 40px 13px;
    margin: 0 auto -75px auto;
    border-radius: 40px 40px 0 0;
    background-color: $background-color-secondary;
}

.menu__title{
    display: flex;
    align-items: center;
    padding: 32px 0 40px 0;     
    @media (min-width: 370px){
        display: grid;
        grid-template-columns: 263px 25px;
        grid-gap: 20px;   
        justify-content: center;  
        padding: 32px 17px 40px 17px;         
    } 
}

.menu__container{
    display: grid;
    grid-gap: 40px;
    @include breakpoint(medium){
        margin: 0 auto;
    }
}

.menu__subtitle{
    width: 40px;
    height: 40px;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: $color-menu-title;
    margin-bottom: 12px;  
}

.menu__cards{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 40px;
}

.menu__cards__container{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 80%;
    grid-gap: 5px;
    border-radius: 15px; 
    box-shadow: $box-shadow2;
    padding: 15px;    
    background-color: $background-color-first;
    overflow: hidden;
}

.menu__selected{
    position: absolute;
    right: 0;
    height: 77px;
    opacity: 0;
}

.menu__text__title{
    display: grid;
}

.menu__text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu__texts{
    display: grid;
    grid-template-columns: 80% 1fr;
}

.menu__price{
    display: grid;
    position: relative;
    justify-content: end;
    grid-column-end: 3;
}

/***** Animation Menu *****/

.menu__cards__container:hover{
    @include animation_menu($animation_menu: true);
}
