@mixin img($img_height: null, $img_width: null, $object-fit: null, $object-position: null){
    height: $img_height;
    width: $img_width;
    object-fit: $object-fit;
    object-position: $object-position;
}

@mixin grid1($grid: grid, $grid-template-rows: null, $grid-template-columns: null, $grid-gap: null){
    display: $grid;
    grid-template-rows: $grid-template-rows;
    grid-template-columns: $grid-template-columns;
    grid-gap: $grid-gap;
}

@mixin grid__position($grid-row-start: null, $grid-row-end: null, $grid-column-start: null, $grid-column-end: null){
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
}

@mixin position_horizontal($align-items: null, $align-self: null, $align-content: null){
    align-items: $align-items;
    align-self: $align-self;
    align-content: $align-content;
}

@mixin position_vertical($justify-items: null, $justify-self: null, $justify-content: null){
    justify-items: $justify-items;
    justify-self: $justify-self;
    justify-content: $justify-content;
}

@mixin position($position: null, $top: null, $right: null, $bottom: null, $left: null){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin margin($margin-top: null, $margin-left: null, $margin-bottom: null, $margin-right: null){    
    margin: $margin-top $margin-left $margin-bottom $margin-right;    
}

@mixin padding($padding-top: null, $padding-left: null, $padding-bottom: null, $padding-right: null){
    padding: $padding-top $padding-left $padding-bottom $padding-right;    
}

@mixin border($border-height: null, $border-width: null, $border: null, $border-top-width: 0, $border-right-width: 0, $border-bottom-width: 0, $border-left-width: 0, $border-style: null, $border-color: null, $border-radius: null){
    height: $border-height; 
    width: $border-width; 
    border-top-width: $border-top-width;
    border-right-width: $border-right-width;
    border-bottom-width: $border-bottom-width;
    border-left-width: $border-left-width;
    border-style: $border-style;
    border-color: $border-color;
    border-radius: $border-radius;
}

@mixin links ($color_links: null, $text-decoration: none){
    color: $color_links;
    text-decoration: $text-decoration;
}

@mixin box-shadow{
    box-shadow: $box-shadow1;
}

@mixin animation_menu ($animation_menu: true){
    @if $animation_menu{

        .section__principale__text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;            
            animation-name: section__principale__text;
            animation-duration: 1s; 
        }

        .section__principale__check{
            animation-name: img__check;
            animation-duration: 1s;
        }  

        .price{          
            position: relative;         
            animation-name: price;
            animation-duration: 1s;                  
        }
    }

    @keyframes section__principale__text{
        0%{width: 170px}
    
        100%{width: 170px}
    }

    @keyframes img__check{
        0%{opacity: 1 ; right: -62.62px}
    
        100%{opacity: 1; right: 0}
    }
    
    @keyframes price{
        0%{right: 15px}
    
        100%{right: 62.62px}
    }   
}