@mixin flex{
    display: flex;
}

@mixin flex__center{
    display: flex;
    justify-content: $justify-center;
}

@mixin grid{
    display: grid;
}

@mixin img{
    width: 100%;

    object-fit: cover;
    
    object-position: center;
}
