$background-color-first: white;
$background-color-secondary: #F6F6F6;
$background-color-location: #EAEAEA;
$background-color-footer: #353535;
$background-color-restaurants_grid_new: #99E2D0;

$color-restaurants_grid_new: #008766;
$color1: #9356DC;
$color2: #FF79DA;
$color-links: black;
$color-menu-title: #99E2D0;

$border-none: none;

$flex-column: column;

$align_center: center;

$justify-center: center;

$margin-auto: 0 auto;

$position-absolute: absolute;
$position-relative: relative;

$box-shadow1: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$box-shadow2: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);   

